MismosDiasMensaje=factory.base.mensajes.MismosDiasMensaje
PoseeCargoMensaje=factory.base.mensajes.PoseeCargoMensaje
CantLicXMesMensaje=factory.base.mensajes.CantLicXMesMensaje
CantLicXAnioMensaje=factory.base.mensajes.CantLicXAnioMensaje
DesigXDiaMensaje=factory.base.mensajes.DesigXDiaMensaje
TopeDiasMensaje=factory.base.mensajes.TopeDiasMensaje